@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,400;0,500;0,700;0,800;0,900;1,100;1,400;1,500;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;

}

html, body {
    font-family: 'Alegreya Sans', sans-serif;
    width: 100%;
    height: 100%;
    background-color: rgb(19, 19, 3);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

header{
    background-color: lightpink;
}

/* NAV BAR */

#top-nav {
    background-color: gray;
}

#top-nav ul {
    display: flex;
    justify-content: right;
}

#top-nav ul li {
    list-style: none;
}

#top-nav ul li a {
    display: block;
    padding: 1em;
    color: rgb(250, 231, 215);
    transition: all 0.5s;
}

#top-nav ul li a:hover {
    background: lightgray;
    color: black;
}


/* main */
main {
    max-width: 1400px;
    margin: 0 auto;
    background-color: rgb(250, 231, 215);
}

p{
    color:white;
}
section{
    color:rgb(141, 14, 115);
}

h1 {
    color: lightyellow;
    /* text-align: center; */
}


/* footer */

oter {
    display: grid;
    grid-template-columns: auto 1fr auto;
    background-color: gray;
}

footer nav {
    padding: 10px 20px;
    font-size: 15px;


}

footer nav li {
    list-style: none;

}

footer a {
    color: beige;
}

 footer a:hover {
    color: white;
    background: lightgrey;
}

footer #social {
    padding: 10px 20px;
    font-size: 20px;
}

footer #social ul{
    display: flex;
    justify-content: center;
}

footer #social ul li {
    list-style: none;

}

footer #social ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 30px;
}